img {
    width: 150px;
    margin: 15px;
}

.yearbook-pics {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    font-family: 'Kirang Haerang', cursive;
}

.care-text, h1{
font-family: 'Kirang Haerang', cursive;
}

.lists {
    display: flex;
    justify-content: space-around;
}